html { margin: 0; padding: 0; }
body { margin-top: 16px; margin-left: 16px; margin-bottom: 0px; padding: 0; }
p { border: 1px solid lightBlue; margin-bottom: 16px;}
p { background: url("icons/p.png") no-repeat scroll 0 0 white; padding: 5px 10px; }
